name: Release

on:
  push:
    tags:
      - "v*"

jobs:
  build-linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Build Linux
        shell: bash
        run: |
          cargo build --release
          mv target/release/term-slots term-slots-linux

      - uses: actions/upload-artifact@v4
        with:
          name: term-slots-linux
          path: term-slots-linux

  build-windows:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4

      - name: Build Windows
        shell: bash
        run: |
          cargo build --release
          mv target/release/term-slots.exe term-slots-windows.exe

      - uses: actions/upload-artifact@v4
        with:
          name: term-slots-windows.exe
          path: term-slots-windows.exe

  create-release:
    needs: [build-linux, build-windows]
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Download binaries
        uses: actions/download-artifact@v4
        with:
          path: ./binaries

      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          files: ./binaries/**/*
